# Dependencies
node_modules
.pnpm-store

# Production build output
dist
build

# Environment & Logs
.env
.env.local
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Firebase local cache
.firebase
